@font-face {
    font-family: Twister;
    src: url(assets/fonts/Twister.ttf);
}

@font-face {
    font-family: smooch;
    src: url(assets/fonts/SmoochRegular.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background: aqua;
    background-image: url(assets/img/imageback.jpg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0;
    box-shadow: 0 0 50px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 1250px;
}

header {
    display: flex;
    background: #10141f;
    color: #AEE239;
}

.photo {
    width: 220px;
    height: 220px;
    object-fit: cover;
    z-index: 1;
    border-radius: 50%;
}

.photo-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 35px 10px;
}

.photo-container::before,
.photo-container::after {
    content: "";
    position: absolute;
}

.photo-container::before {
    transform: translate(-10px, -10px);
    background: rgba(181, 255, 9);
    border-radius: 50%;
    width: 220px;
    height: 220px;
    box-shadow: 0 0 5px rgba(181, 255, 9);
}

.photo-container::after {
    transform: translate(10px, 15px);
    background: #40c0cb;
    border-radius: 50%;
    width: 220px;
    height: 215px;
    box-shadow: 0 0 5px rgba(64, 192, 203);
}

.header-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: radial-gradient(circle at 1.4% 1.4% ,#186cb8 .8%,transparent  .8% ), 
    radial-gradient(circle at 5.5% 3%,#40c0cb .45% ,transparent .45% ), 
    radial-gradient(circle at 2.5% 3.5%,#C7F464 .5% ,transparent .5% ), 
    radial-gradient(circle at 4.5% 1.2%,#f732a6 .25%,transparent .25% ),

    radial-gradient(circle at 98% 98% ,#186cb8 .8%,transparent  .8% ), 
    radial-gradient(circle at 95% 95%,#40c0cb .45% ,transparent .45% ), 
    radial-gradient(circle at 94.5% 97.5%,#C7F464 .5% ,transparent .5% ), 
    radial-gradient(circle at 98.5% 95.5%,#f732a6 .25%,transparent .25% );
}

h1 {
    align-self: center;
    font-family: smooch;
    font-size: 100px;
    font-weight: 500;
    background: linear-gradient(219deg, 
    #40c0cb 19%, 
    transparent 19%,transparent 20%, 
    #C7F464 20%, #C7F464 39%,
    transparent 39%,transparent 40%, 
    #f732a6 40%,#f732a6 59% ,
    transparent 59%,transparent 60%, 
    #C7F464 60%, #C7F464 79%,
    transparent 79%, transparent 80%, 
    #40c0cb 80%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 50px rgba(76, 252, 76, 0.35);
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-family: Twister;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
}

.nav-list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    font-size: 19px;
    text-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
}

section, footer, article, div {
    padding: 10px;
}

main {
    display: flex;
}

.about {
    flex: 2;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: #d0fbff;
    background-color: #050101a1;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(20px);
}

.about-info, .code {
    width: 80%;
}

.about-head, .code-head {
    padding: 20px 0px 30px 0px;
    text-shadow: 0px 0px 10px rgba(208, 251, 255, 0.8);
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

em {
    font-size: 17px;
}

.code-box {
    display: block;
    font-family: monospace, sans-serif;
    font-size: 16px;
    line-height: 18px;
    background-color: #1a2131;
    color: #d0fbff;
    overflow: auto;
}

span.color1 {
    font-family: monospace, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #40c0cb;
}

span.color2 {
    font-family: monospace, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #f732a6;
}

span.color3 {
    font-family: monospace, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #C7F464;
}

.column-info {
    flex: 1;
    background: #10141f;
    color: #C7F464;
}

.contacts, .education, .skills, .projects, .english {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-item, .tg-item, .github-item {
    position: relative;
    list-style: none;
    padding-left: 20px;
    padding-bottom: 5px;
}

.phone-item::before, .tg-item::before, .github-item::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-size: contain;
    left: -10px;
}

.phone-item::before {
    background-image: url(assets/svg/phone-icon.svg);
}

.tg-item::before {
    background-image: url(assets/svg/telegram-icon.svg);
}

.github-item::before {
    background-image: url(assets/svg/github-icon.svg);
}

.github-item {
    text-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8); 
}

a {
    position: relative;
    text-decoration: none;
    color: #C7F464;
}

a::after {
    position: absolute;
    content: "";
    width: 0px;
    bottom: -10px;
    right: 0px;
    height: 2px;
    background-color: #C7F464;
    box-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
    transition: 0.7s;
}

a:hover::after,
a:focus::after {
    width: 100%;
    left: 0;
    background-color: #C7F464;
    box-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
    transition: 0.7s;
}

.projects .column-list li {
    padding-bottom: 10px;
    list-style: none;
    text-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
}

.column-list {
    font-size: 17px;
    width: 70%;
}

footer {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #10141f;
    color: #C7F464;
}

footer a {
    text-shadow: 0px 0px 10px rgba(17, 236, 17, 0.8);
    font-size: 18px;
}

.footer-github::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-size: contain;
    background-image: url(assets/svg/github-icon.svg);
    left: -30px;
}

.rs-link {
    background-image: url(assets/svg/rs_school_js_dark.svg);
    background-size: contain;
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: center;
    }
    .about-info, .code {
        width: 95%;
    }
    .column-list {
        width: 55%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 70px;
    }
    .nav-list {
        display: block;
        text-align: center;
        font-size: 17px;
    }
    .nav-list li {
        padding-bottom: 8px;
    }
    .column-list {
        width: 70%;
    }
    footer {
        padding-left: 35px;
    }
}